---
import IconLink from '@/icons/outline/IconLink.svg';
import IconXmark from '@/icons/outline/IconXmark.svg';

const autoCloseTime = 6000
const verticalPosition = "bottom";
const horizontalPosition = "center";

const verticalClasses = { top: 'top-8', center: 'top-1/2 -translate-y-1/2', bottom: 'bottom-8' };
const horizontalClasses = { left: 'left-8', center: 'left-1/2 -translate-x-1/2', right: 'right-8' };
---

<div id="toast" class={`hidden fixed z-50 w-max ${verticalClasses[verticalPosition]} ${horizontalClasses[horizontalPosition]}`} role="alert" data-autoclose-time={autoCloseTime}>
    <div class="flex items-center p-2.5 rounded-full shadow-lg bg-blue-500" data-toast-wrapper>
        <IconLink stroke-width="1.8" width="24" height="24" class="stroke-white"/>
        <div class="mx-2.5 h-4 w-px bg-white"></div>
        <p class="text-base font-medium text-white">El enlace se copió</p>
        <button type="button" class="group ms-2.5 relative w-7 h-7 flex items-center justify-center rounded-full" aria-label="Cerrar mensaje" data-toast-close>
            <svg class="absolute inset-0 -rotate-90" viewBox="0 0 36 36">
                <circle cx="18" cy="18" r="16" class="stroke-white/60" stroke-width="2" fill="none"/>
                <circle cx="18" cy="18" r="16" class="progress-ring stroke-white" stroke-width="2" fill="none"/>
            </svg>
            <IconXmark stroke-width="1.8" width="18" height="18" class="relative z-10 stroke-white/60 group-hover:stroke-white transition-colors duration-300 ease-in-out"/>
        </button>
    </div>
</div>

<style>
[data-toast-wrapper] {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 300ms ease, transform 300ms ease;
}

[data-toast-wrapper].animation {
    opacity: 1;
    transform: translateY(0);
}

.progress-ring {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: progress 6000ms linear forwards;
}

[data-toast-wrapper]:hover .progress-ring {
    animation: progress-restart 6000ms linear forwards;
    animation-play-state: paused;
}

@keyframes progress {
    from {
        stroke-dashoffset: 100;
    }
    to {
        stroke-dashoffset: 0;
    }
}

/* misma animación, distinto nombre */
@keyframes progress-restart {
    from {
        stroke-dashoffset: 100;
    }
    to {
        stroke-dashoffset: 0;
    }
}
</style>

<script>
    const toast = document.getElementById("toast");
    if (!toast) throw new Error('Element id="toast" not found');

    const toastWrapperElement = toast.querySelector<HTMLDivElement>("[data-toast-wrapper]");
    const closeButtonElement = toast.querySelector<HTMLButtonElement>("[data-toast-close]");

    if (!toastWrapperElement || !closeButtonElement) throw new Error("Toast elements not found");

    let autoCloseTimer: ReturnType<typeof setTimeout> | null = null;
    const autoCloseTime = Number(toast.dataset.autocloseTime) || 6000;

    const stopAutoScroll = () => {
		if (!autoCloseTimer) return;
		clearTimeout(autoCloseTimer);
		autoCloseTimer = null;
	};

    const startAutoScroll = () => {
        console.log("autoCloseTimer", autoCloseTimer)
        autoCloseTimer = setTimeout(() => hideToast(), autoCloseTime);
    };

    const addEvents = () => {
    	toastWrapperElement.addEventListener("mouseenter", stopAutoScroll);
    	toastWrapperElement.addEventListener("mouseleave", startAutoScroll);
    	closeButtonElement.addEventListener("click", hideToast);
    };

    const removeEvents = () => {
    	toastWrapperElement.removeEventListener("mouseenter", stopAutoScroll);
    	toastWrapperElement.removeEventListener("mouseleave", startAutoScroll);
    	closeButtonElement.removeEventListener("click", hideToast);
    };

    const showToast = () => {
        toast.classList.remove("hidden");

        toast.getBoundingClientRect();
        
        toastWrapperElement.classList.add("animation");

        addEvents();

        // iniciar nuevo timer
        startAutoScroll();
    };

    const hideToast = () => {
        toastWrapperElement.classList.remove("animation");
    
        toastWrapperElement.addEventListener("transitionend",  () => toast.classList.add("hidden"), { once: true });

        removeEvents();

        stopAutoScroll();

        console.log("hideToast", autoCloseTimer)
    };

    window.addEventListener("toastactive", (e) => {
        /* console.log("autoCloseTimer", autoCloseTimer === null) */
        if (autoCloseTimer) return;
       /*  console.log("hola") */
        showToast();
    });
</script>