
<!-- <div class="px-4 py-2 flex justify-center">
	<div class="tabs flex border-b border-neutral-200" aria-label="Options">
		{tabs.map(({ name, href, icon: Icon }) => (

			<a href={href} class={`tab-link group px-6 py-3  transition-colors duration-300 ease-in-out ${tab === name ? 'border-b border-neutral-700' : 'border-b border-transparent hover:border-neutral-700' }`}>
				<Icon stroke-width="1.5" width="28"	height="28"	class={`${tab === name ? 'stroke-neutral-700' : 'stroke-neutral-500 group-hover:stroke-neutral-700 '}`}/>
			</a>

		))}
	</div>
</div>
 -->